<h3>User Events</h3>

<% @user.created_events.each do |event| %>
  <aritcle>
  <h3><%= event.title %></h3>
  <small> <%= event.event_date %> </small>
  <p><%= event.description %> </p>
  </aritcle>
<%end%>
